
#multi_file_container #input_file { display: none; }

#multi_file_container .btn { color: white; font-size: 1.167em;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#multi_file_container .btn-blue { background-color: #3a8afd; }
#multi_file_container .btn-red { background-color: #3a8afd; }

#multi_file_container #process_status { width: 100%; }